<div>
    <button ng-click=class1Btn();>
        class1
    </button>

 <!--   <button ng-click=class2Btn();>
        class2
    </button>
    <button ng-click=class3Btn();>
        class3
    </button>
    <button ng-click=class4Btn();>
        class4
    </button>
    <button ng-click=class5Btn();>
        class5
    </button>
    <button ng-click=class6Btn();>
        class6
    </button>
    <button ng-click=class7Btn();>
        class7
    </button>
    <button ng-click=class8Btn();>
        class8
    </button>
    <button ng-click=class9Btn();>
        class9
    </button>
    <button ng-click=class10Btn();>
        class10
    </button>
    <button ng-click=class11Btn();>
        class11
    </button>-->
</div>
<div>
    本例总共有11种页面跳转的样式，请查看源码并稍作修改查看其它
</div>
<div hms-svg-loader="class1" hms-show-loader="willShowLoader1"></div>
<!--<div hms-svg-loader="class2" hms-show-loader="willShowLoader2"></div>
<div hms-svg-loader="class3" hms-show-loader="willShowLoader3"></div>
<div hms-svg-loader="class4" hms-show-loader="willShowLoader4"></div>
<div hms-svg-loader="class5" hms-show-loader="willShowLoader5"></div>
<div hms-svg-loader="class6" hms-show-loader="willShowLoader6"></div>
<div hms-svg-loader="class7" hms-show-loader="willShowLoader7"></div>
<div hms-svg-loader="class8" hms-show-loader="willShowLoader8"></div>
<div hms-svg-loader="class9" hms-show-loader="willShowLoader9"></div>
<div hms-svg-loader="class10" hms-show-loader="willShowLoader10"></div>
<div hms-svg-loader="class11" hms-show-loader="willShowLoader11"></div>-->
</div>

<script>
    $scope.class1Btn = function(){
        $rootScope.willShowLoader1 = true;
        $timeout(function(){
            $rootScope.willShowLoader1 = false;
        },3000);
    }

    $scope.class2Btn = function(){
        $rootScope.willShowLoader2 = true;
        $timeout(function(){
            $rootScope.willShowLoader2 = false;
        },3000);
    }

    $scope.class3Btn = function(){
        $rootScope.willShowLoader3 = true;
        $timeout(function(){
            $rootScope.willShowLoader3 = false;
        },3000);
    }

    $scope.class4Btn = function(){
        $rootScope.willShowLoader4 = true;
        $timeout(function(){
            $rootScope.willShowLoader4 = false;
        },3000);
    }

    $scope.class5Btn = function(){
        $rootScope.willShowLoader5 = true;
        $timeout(function(){
            $rootScope.willShowLoader5 = false;
        },3000);
    }

    $scope.class6Btn = function(){
        $rootScope.willShowLoader6 = true;
        $timeout(function(){
            $rootScope.willShowLoader6 = false;
        },3000);
    }

    $scope.class7Btn = function(){
        $rootScope.willShowLoader7 = true;
        $timeout(function(){
            $rootScope.willShowLoader7 = false;
        },3000);
    }


    $scope.class8Btn = function(){
        $rootScope.willShowLoader8 = true;
        $timeout(function(){
            $rootScope.willShowLoader8 = false;
        },3000);
    }

    $scope.class9Btn = function(){
        $rootScope.willShowLoader9 = true;
        $timeout(function(){
            $rootScope.willShowLoader9 = false;
        },3000);
    }

    $scope.class10Btn = function(){
        $rootScope.willShowLoader10 = true;
        $timeout(function(){
            $rootScope.willShowLoader10 = false;
        },3000);
    }

    $scope.class11Btn = function(){
        $rootScope.willShowLoader11 = true;
        $timeout(function(){
            $rootScope.willShowLoader11 = false;
        },3000);
    }
</script>